html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  width: 75%;
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {
  justify-content: center;
}

#bio {
  justify-content: space-evenly;
  text-align: center;
}
#bio > li {
  padding: 2px;
  list-style: none;
}

#pro {
  width: auto;
}
#achievements {
  list-style: none;
  padding: 2px;
}
#achievements > li {
  text-align: center;
}
#proCareer {
  width: 100%;
  height: auto;
}
@media (max-width: 375px) {
  #bio > ul {
    padding: 2px;
  }
}

#earlyCareer > img {
  width: 75%;
}
#proCareer > img {
  width: 75%;
}
